<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index.html :: head"></head>
<body>

<!-- ======= Header ======= -->
<header th:insert="index.html :: header"></header>

<!-- ======= Sidebar ======= -->
<aside th:insert="index.html :: aside"></aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Giỏ hàng</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{~/index}">Home</a></li>
          <li class="breadcrumb-item active">Giỏ hàng</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12" th:if="${orderDetails.size() > 0}" >
          <div class="card">
            <div class="card-body m-2">
              <table class="table table-hover table-borderless">
                <thead>
                <tr>
                  <th>Tên</th>
                  <th>Hình ảnh</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Khác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${orderDetails}">
                  <form th:action="@{/cart/update(id=${item.orderDetailId})}" method="post">
                  <td width="20%" th:text="${item.product.name}"></td>
                  <td width="20%">
                    <img th:src="${item.product.image != null ? '/cart/images/' + item.product.image : '' }"
                         class="rounded" width="70%">
                  </td>
                  <td width="15%" th:inline="text">[[${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')}]]₫</td></td>
                  <td width="10%">
                    <input type="number" width="10px" class="form-control" name="quantity" th:value="${item.quantity}" onblur="this.form.submit()">
                  </td>
                  <td width="20%" th:inline="text">[[${#numbers.formatDecimal(item.unitPrice * item.quantity, 0, 'COMMA', 0, 'POINT')}]]₫</td></td>
                  <td width="10%">
                    <a th:href="@{/cart/delete(id=${item.orderDetailId})}" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a>
                  </td>
                  </form>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table with stripped rows -->
            <div class="card-footer bg-light d-flex justify-content-end">
              <h5 class="card-title m-3" th:inline="text">Tổng tiền: [[${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}]]₫</h5>
              <div class="pt-4">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">
                  Thanh toán
                </button>

                <!-- Modal -->
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Xác nhận thanh toán</h5>
                        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Bạn chắc chắn muốn thanh toán hóa đơn này?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <a th:href="@{/cart/done(orderId=${orderDetails.get(0).order.orderId})}" class="btn btn-danger">Thanh toán</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        <div class="col-lg-12" th:unless="${orderDetails.size() > 0}">
          <center>
            <h5 class="card-title">Bạn chưa có sản phẩm nào trong giỏ hàng</h5>
            <a th:href="@{/index}" class="btn btn-primary">Hãy mua sắm nào !!!</a>
          </center>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:insert="index.html :: footer"></footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
<div th:insert="index.html :: script"></div>
</body>

</html>