<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index.html :: head"></head>
<body>

<!-- ======= Header ======= -->
<header th:insert="index.html :: header"></header>

<!-- ======= Sidebar ======= -->
<aside th:insert="index.html :: aside"></aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Loại hàng</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Quản lý</a></li>
          <li class="breadcrumb-item active">Loại hàng</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row container">
        <div class="col-5 bg-white rounded shadow row m-1 p-4">
          <form class="row border-bottom" action="/admin/categories/search" method="post">
            <input class="form-control" type="text" placeholder="Search by name" th:value="${keyword}" name="keyword">
            <button class="btn btn-secondary col-lg-4 mt-2 mb-3">Search</button>
          </form>
            <form action="/admin/categories/update-or-create" th:object="${category}" class="row p-3" method="post"
                  path="*" element="div" delimiter=";">
              <strong class="col-12">ID:</strong>
              <input th:field="*{categoryId}" class="col-12 form-control" type="text" readonly placeholder="#ID">
              <strong class="col-12">Tên loại:</strong>
              <input class="col-12 form-control" th:field="*{name}" type="text" placeholder="Tên loại">
              <small class="text-danger mb-1 col-12" th:errors="*{name}"></small>
              <button class="btn btn-success mt-2 col-lg-4" type="submit">Submit</button>
              <div class="col-2"></div>
              <strong class="col-lg-6 text-primary pt-3" th:text="${message}"></strong>
            </form>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body m-2">
              <table class="table table-hover table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Tên loại</th>
                  <th>Điều khiển</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categorys}">
                  <th th:text="${category.categoryId}"></th>
                  <td th:text="${category.name}"></td>
                  <td>
                    <a th:href="@{/admin/categories/edit(id=${category.categoryId}, page=${categorys.number})}" class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i> Edit</a>
                    <a th:href="@{/admin/categories/delete(id=${category.categoryId})}" class="btn btn-outline-danger"><i class="bi bi-trash3"></i> Delete</a>
                  </td>
                </tr>
                </tbody>
              </table>
                <a class="btn btn-dark" th:href="@{/admin/categories(page=0,keyword=${keyword})}">&laquo;</a>
                <!--  Toán tử 3 ngôi: nếu page = -1 thì trả lại page = 0 và ngược lại lớn hơn tổng số trang thì trả về trang lớn nhất-->
                <a class="btn btn-dark" th:href="@{/admin/categories
      (page=${categorys.number - 1 < 0 ? 0 : categorys.number - 1},keyword=${keyword})}">Prev</a>
                <a class="btn btn-dark" th:href="@{/admin/categories
      (page=${categorys.number + 1 > categorys.totalPages - 1 ? categorys.totalPages - 1 : categorys.number + 1},keyword=${keyword})}">Next</a>
                <a class="btn btn-dark" th:href="@{/admin/categories(page=${categorys.totalPages - 1},keyword=${keyword})}">&raquo</a>
            </div>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<footer th:insert="index.html :: footer"></footer>
<a href="#" class="back-to-top d-flex align-categories-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
<div th:insert="index.html :: script"></div>
<script>

</script>
</body>
</html>